<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>siginin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>siginin.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>siginin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>siginin.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSchoolServlet</servlet-name>
        <servlet-class>addschool.RegisterSchoolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>siginin.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletPage</servlet-name>
        <servlet-class>siginin.LoginServletPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServletPage</servlet-name>
        <servlet-class>siginin.LogoutServletPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterOrgServlet</servlet-name>
        <servlet-class>addOrg.RegisterOrgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imguploadServlet</servlet-name>
        <servlet-class>siginin.imguploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEmployeeServlet</servlet-name>
        <servlet-class>siginin.RegisterEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>siginin.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEventServlet</servlet-name>
        <servlet-class>addEvent.RegisterEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventServlet</servlet-name>
        <servlet-class>addEvent.UpdateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventServlet</servlet-name>
        <servlet-class>addEvent.DeleteEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSchoolServlet</servlet-name>
        <servlet-class>addschool.UpdateSchoolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSchoolServlet</servlet-name>
        <servlet-class>addschool.DeleteSchoolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrgServlet</servlet-name>
        <servlet-class>addOrg.UpdateOrgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrgServlet</servlet-name>
        <servlet-class>addOrg.DeleteOrgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPDFServlet</servlet-name>
        <servlet-class>upload.UploadPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadPdfServlet</servlet-name>
        <servlet-class>upload.DownloadPdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>siginin.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudentServlet</servlet-name>
        <servlet-class>addStudent.RegisterStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>addStudent.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAllEventsServlet</servlet-name>
        <servlet-class>addEvent.DeleteAllEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVolunteerServlet</servlet-name>
        <servlet-class>addVolunteer.RegisterVolunteerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterForEventServlet</servlet-name>
        <servlet-class>addVolunteer.RegisterForEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVolunteerServlet</servlet-name>
        <servlet-class>addVolunteer.UpdateVolunteerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVolunteerServlet</servlet-name>
        <servlet-class>addVolunteer.DeleteVolunteerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAllVolunteerServlet</servlet-name>
        <servlet-class>addVolunteer.DeleteAllVolunteerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addExamServlet</servlet-name>
        <servlet-class>addExam.addExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateExamServlet</servlet-name>
        <servlet-class>addExam.updateExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>addExam.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountdownControl</servlet-name>
        <servlet-class>addEvent.CountdownControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPictureServlet</servlet-name>
        <servlet-class>siginin.EditPictureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSchoolServlet</servlet-name>
        <url-pattern>/RegisterSchoolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletPage</servlet-name>
        <url-pattern>/LoginServletPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServletPage</servlet-name>
        <url-pattern>/LogoutServletPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterOrgServlet</servlet-name>
        <url-pattern>/RegisterOrgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imguploadServlet</servlet-name>
        <url-pattern>/imguploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEmployeeServlet</servlet-name>
        <url-pattern>/RegisterEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/DeleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEventServlet</servlet-name>
        <url-pattern>/RegisterEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventServlet</servlet-name>
        <url-pattern>/UpdateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventServlet</servlet-name>
        <url-pattern>/DeleteEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSchoolServlet</servlet-name>
        <url-pattern>/UpdateSchoolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSchoolServlet</servlet-name>
        <url-pattern>/DeleteSchoolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrgServlet</servlet-name>
        <url-pattern>/UpdateOrgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrgServlet</servlet-name>
        <url-pattern>/DeleteOrgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPDFServlet</servlet-name>
        <url-pattern>/UploadPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadPdfServlet</servlet-name>
        <url-pattern>/DownloadPdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudentServlet</servlet-name>
        <url-pattern>/RegisterStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAllEventsServlet</servlet-name>
        <url-pattern>/DeleteAllEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVolunteerServlet</servlet-name>
        <url-pattern>/RegisterVolunteerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterForEventServlet</servlet-name>
        <url-pattern>/RegisterForEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVolunteerServlet</servlet-name>
        <url-pattern>/UpdateVolunteerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVolunteerServlet</servlet-name>
        <url-pattern>/DeleteVolunteerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAllVolunteerServlet</servlet-name>
        <url-pattern>/DeleteAllVolunteerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addExamServlet</servlet-name>
        <url-pattern>/addExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateExamServlet</servlet-name>
        <url-pattern>/updateExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountdownControl</servlet-name>
        <url-pattern>/CountdownControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPictureServlet</servlet-name>
        <url-pattern>/EditPictureServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>PDFUploadServlet</servlet-name>
        <servlet-class>upload.PDFUploadServlet</servlet-class>
    </servlet>
</web-app>
